* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: linear-gradient(270deg, rgb(6, 190, 89), rgb(4, 92, 23));
    border-style: solid;
    border-width: 5px;
}

#img-if {
    height: calc(25vh - 40px);
}
.modal-content {
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.modal-header {
    background: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
    
}

.modal-content {
    opacity: calc(90%);
    background: linear-gradient(270deg, rgb(6, 190, 89), rgb(4, 92, 23));
}

main {
    background: linear-gradient(270deg, rgb(6, 190, 89), rgb(4, 92, 23));
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border-style: solid;
    border-radius: 10px;
    background:rgba(39, 39, 39, 0.767);
    width: 60vw !important;
    border-width: 6px;
}

#btn-edit:hover {
    background: rgb(158, 130, 4);
    border-color: rgb(158, 130, 4);
}

button {
    border-radius: 15px !important;
}

#list {
    height: 30vh;
    overflow-y: auto;
}

footer {
    background-color: rgb(3, 6, 37);
}

#github {
    text-decoration: none;
    color: white;
}